<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Select Recipient</h4>
</div>
<div class="modal-body row" style="max-height: 350px;overflow-x: auto;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" ng-model="query" placeholder="filter"/>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <ul>
            <li ng-repeat="doctor in doctors | filter:query"><a ng-click="selectDoctor(doctor)" href="">{{doctor.firstName}} {{doctor.lastName}}</a></li>
        </ul>
    </div>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</footer>