<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Change Encounter Status</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <div class="form-group">
        <label class="col-sm-2 control-label " for="form-field-1"> Status</label>
        <div class="col-sm-5">
            <select class="form-control" ng-model="encounter.status" required="true">
                <option value="Wait">Waiting</option>
                <option value="withDoctor">With Doctor</option>
            </select>
        </div>
    </div>

</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="updateStatus()">Save</button>
</footer>