<div class="modal-header center-button">
    <h4 class="modal-title">Confirm and Finish Encounter</h4>
</div>
<div class="modal-body row" style="text-align: center;">
   <h5>Are you sure you want to finish this modal. This will prepare the patient for billing. The Encounter cannot be altered once this is confirmed! </h5>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-wanrning" ng-click="cancel()" >Cancel</button>
    <button type="button" class="btn btn-success" ng-click="confirm()" >Finish Encounter</button>
</footer>