<div class="modal-header" style="text-align: center">
    <h4 class="modal-title">General Medical Information </h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Blood Type </label>
            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="patientAccount.generalMedical.bloodType" class="col-sm-12">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">   Height(CM) </label>

            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="patientAccount.generalMedical.height" ng-change="calculateBmi()"  class="col-sm-12">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">   Weight(KG) </label>

            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="patientAccount.generalMedical.weight" ng-change="calculateBmi()"  class="col-sm-12">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">   Body Mass Index</label>

            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="patientAccount.generalMedical.bmi"  class="col-sm-12" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2" style="text-align: right">
                <h5>Allergies</h5>
            </div>
            <div class="col-md-3" style="text-align: left;">
                <button type="button" class="btn btn-sm btn-success pull-left" ng-click="addAllergyModal()"><i class="fa fa-plus"></i>Add Allergy </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-3" style="border:1px solid black;">
                    Begin
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Title
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Status
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Occurrence
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1" ng-repeat="allergy in patientAccount.generalMedical.allergies">
                <input type="text" id="form-field-1" placeholder="Begin" ng-model="allergy.begin" class="col-sm-3" disabled>
                <input type="text" id="form-field-1" placeholder="Title" ng-model="allergy.title" class="col-sm-3" disabled>
                <input type="text"  placeholder="Status" ng-model="allergy.status" class="col-sm-3" disabled>
                <input type="text"  placeholder="Occurrence" ng-model="allergy.occurrence" class="col-sm-3" disabled>
            </div>
        </div>  <div class="form-group">
            <div class="col-md-2" style="text-align: right">
                <h5>Medical Problems</h5>
            </div>
            <div class="col-md-3" style="text-align: left;">
                <button type="button" class="btn btn-sm btn-success pull-left" ng-click="addMedicalProblemModal()"><i class="fa fa-plus"></i>Add Medical Problem </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-3" style="border:1px solid black;">
                    Begin
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Title
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Status
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Occurrence
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1" ng-repeat="medicalProblem in patientAccount.generalMedical.medicalProblems">
                <input type="text" id="form-field-1" placeholder="Begin" ng-model="medicalProblem.begin" class="col-sm-3" disabled>
                <input type="text" id="form-field-1" placeholder="Title" ng-model="medicalProblem.title" class="col-sm-3" disabled>
                <input type="text"  placeholder="Status" ng-model="medicalProblem.status" class="col-sm-3" disabled>
                <input type="text"  placeholder="Occurrence" ng-model="medicalProblem.occurrence" class="col-sm-3" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2" style="text-align: right">
                <h5>Immunizations</h5>
            </div>
            <div class="col-md-3" style="text-align: left;">
                <button type="button" class="btn btn-sm btn-success pull-left" ng-click="addNewImmunization()"><i class="fa fa-plus"></i>Add New Immunization </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-3" style="border:1px solid black;">
                    Code
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Name
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Date Administered
                </div>
                <div class="col-sm-3" style="border:1px solid black;">
                    Expiration Date
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1" ng-repeat="immunization in patientAccount.generalMedical.immunization">
                <input type="text"  placeholder="Code" ng-model="immunization.code" class="col-sm-3" disabled>
                <input type="text"  placeholder="Name" ng-model="immunization.name" class="col-sm-3" disabled>
                <input type="text"  placeholder="Date Administered" ng-model="immunization.dateAdministered" class="col-sm-3" disabled>
                <input type="text"  placeholder="Expiration Date" ng-model="immunization.expiration" class="col-sm-3" disabled>
            </div>
        </div>
    </form>

</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="saveGeneralMedical()">Save</button>
</footer>