<div class="modal-header center-button" style="text-align: center">
    <h4 class="modal-title"><i class="fa fa-user-md"></i> Patient Medical Problem</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Title </label>

            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="medicalProblem.title" class="col-sm-12" required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Status</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="medicalProblem.status" required="true">
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Occurrence</label>
            <input type="text" id="form-field-1" ng-model="medicalProblem.occurrence" class="col-sm-8" required="true">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Referred By</label>
            <input type="text" id="form-field-1" ng-model="medicalProblem.referredBy" class="col-sm-8" required="true">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Comments</label>
            <div class="col-sm-12">
                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="medicalProblem.comments" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
            </div>
        </div>
    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="saveMedicalProblem()"><i class="fa fa-save"></i> Save</button>
</footer>