<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Create new HMO</h4>
</div>
<div class="modal-body row" style="max-height: 350px;overflow-x: auto;">
    <form id="id-message-form" class=" form-horizontal message-form col-xs-12">
    <!-- #section:pages/inbox.compose -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-recipient">Name:</label>

            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="newHmo.name" required>
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-recipient">Address:</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="newHmo.address" required>
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-recipient">Phone:</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="newHmo.phone" required>
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-recipient">NHIS Code:</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="newHmo.code" required>
            </div>
            </div>
            <div class="form-group" style="text-align: right">
                <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-click="createHmo()">Save</button>
            </div>
        </form>
</div>
<footer class="modal-footer">

</footer>