<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Immunizations</h4>
</div>
<div class="modal-body row" >
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Immunization Name(Code) </label>

            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="immunization.name" class="col-sm-12" required="true" disabled>
            </div>
            <div class="col-sm-2">
               <button type="button" class="btn btn-xs btn-success pull-left" ng-click="setImmunizationFromList()">Set Immunization</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Date Given</label>
            <div class="col-sm-5">
                <input type="text"  ng-model="immunization.dateGivenText" class="col-sm-12" required="true" disabled>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-xs btn-warning pull-left" ng-click="setDateGiven()">Set Date</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">Immunization Expiry</label>
            <div class="col-sm-5">
                <input type="text" ng-model="immunization.dateExpiryText" class="col-sm-12" required="true" disabled>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-xs btn-warning pull-left" ng-click="setDateExpiry()">Set Date</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">Manufacturer</label>
            <div class="col-sm-6">
                <input type="text"  ng-model="immunization.manufacturer" class="col-sm-12">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">Lot Number</label>
            <div class="col-sm-6">
                <input type="text" ng-model="immunization.lotNumber" class="col-sm-12" >
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Administered by</label>
            <div class="col-sm-6">
                <input type="text"  ng-model="immunization.administeredBy" class="col-sm-12" required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Ingress Route</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="immunization.route" required="true">
                    <option value="PerOtis">Per Otis</option>
                    <option value="PerRectum">Per Rectum</option>
                    <option value="ToSkin">To Skin</option>
                    <option value="ToSkin">To Skin</option>
                    <option value="ToAffectedArea">To Affected Area</option>
                    <option value="Sublingual">Sublingual</option>
                    <option value="OS">OS</option>
                    <option value="OD">OD</option>
                    <option value="OU">OU</option>
                    <option value="SQ">SQ</option>
                    <option value="IM">IM</option>
                    <option value="IV">IV</option>
                    <option value="PerNostril">Per Nostril</option>
                    <option value="BothEars">Both Ears</option>
                    <option value="LeftEar">Left Ear</option>
                    <option value="RightEar">Right Ear</option>
                    <option value="Buttocks">Buttocks</option>
                    <option value="Arm">Arm</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Comments</label>
            <div class="col-sm-10">
                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="immunization.comments" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
            </div>
        </div>

    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="saveImmunization()"><i class="fa fa-save"></i> Save</button>
</footer>