<div class="modal-header center-button" style="text-align: center">
    <h4 class="modal-title"><i class="fa fa-user-md"></i> Add New Drug</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Name </label>

            <div class="col-sm-5">
                <input type="text" id="form-field-1" ng-model="drug.name" class="col-sm-12" required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Active</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="drug.active" required="true">
                    <option value="true">Active</option>
                    <option value="false">InActive</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Allow Multiple Lots</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="drug.allowMultipleLots" required="true">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Allow Combining Lots</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="drug.allowCombiningLots" required="true">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> NAFDAC Number</label>
            <input type="text" id="form-field-1" ng-model="drug.nafdacNumber" class="col-sm-8">
        </div>
        <div class="form-group">
            <h4>On Order Global</h4>
            <label class="col-sm-2 control-label " for="form-field-1">Min</label>
            <input type="number" id="form-field-1" ng-model="drug.limitsGlobalMin" class="col-sm-9">
            <label class="col-sm-2 control-label " for="form-field-1">Max</label>
            <input type="number" id="form-field-1" ng-model="drug.limitsGlobalMax" class="col-sm-9">
        </div>
        <div class="form-group">
            <h4>On Order On Site</h4>
            <label class="col-sm-2 control-label " for="form-field-1">Min</label>
            <input type="number" id="form-field-1" ng-model="drug.limitsOnsiteMin" class="col-sm-9">
            <label class="col-sm-2 control-label " for="form-field-1">Max</label>
            <input type="number" id="form-field-1" ng-model="drug.limitsOnsiteMax" class="col-sm-9">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Form</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="drug.form" required="true">
                    <option value="suspension">suspension</option>
                    <option value="tablets">tablet</option>
                    <option value="capsule">capsule</option>
                    <option value="solution">solution</option>
                    <option value="tsp">tsp</option>
                    <option value="ml">ml</option>
                    <option value="units">units</option>
                    <option value="inhalations">inhalations</option>
                    <option value="gtts">gtts(drops)</option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Pill Size</label>
            <div class="col-sm-9">
            <input type="number" id="form-field-1" class="form-control" ng-model="drug.pillSize">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">Units</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="drug.unit">
                    <option value="mg">mg</option>
                    <option value="mg/1cc">mg/1cc</option>
                    <option value="mg/2cc">mg/2cc</option>
                    <option value="mg/3cc">mg/3cc</option>
                    <option value="mg/4cc">mg/4cc</option>
                    <option value="mg/5cc">mg/5cc</option>
                    <option value="mcg">mcg</option>
                    <option value="grams">grams</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1">Route</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="drug.route">
                    <option label="Per Oris" value="1">Per Oris</option>
                    <option label="Per Rectum" value="2">Per Rectum</option>
                    <option label="To Skin" value="3">To Skin</option>
                    <option label="To Affected Area" value="4">To Affected Area</option>
                    <option label="Sublingual" value="5">Sublingual</option>
                    <option label="OS" value="6">OS</option>
                    <option label="OD" value="7">OD</option>
                    <option label="OU" value="8">OU</option>
                    <option label="SQ" value="9">SQ</option>
                    <option label="IM" value="10">IM</option>
                    <option label="IV" value="11">IV</option>
                    <option label="Per Nostril" value="12">Per Nostril</option>
                    <option label="Both Ears" value="13">Both Ears</option>
                    <option label="Left Ear" value="14">Left Ear</option>
                    <option label="Right Ear" value="15">Right Ear</option>
                </select>
            </div>
        </div>
    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="saveDrug()"><i class="fa fa-save"></i>Save</button>
</footer>