<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Create Message</h4>
</div>
<div class="modal-body row" style="text-align: center;">
      <div class="form-group">
          <form id="id-message-form" class=" form-horizontal message-form col-xs-12">
              <!-- #section:pages/inbox.compose -->
              <div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label " for="form-field-recipient">Recipient:</label>

                      <div class="col-sm-5">

													<button type="button" class="btn btn-xs btn-white btn-primary" ng-repeat="recipient in message.recipients">
                                                        <span class="bigger-110">{{recipient.firstName}} {{recipient.lastName}}</span>
                                                        <i class="ace-icon fa fa-times bigger-125 orange2"></i>
                                                    </button>


                      </div>
                      <div class="col-sm-2">
                          <button type="button" class="btn btn-success btn-sm" ng-click="addRecipient()">
                              Add Recipient
                          </button>
                      </div>
                  </div>

                  <div class="hr hr-18 dotted"></div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label" for="form-field-subject">Subject:</label>

                      <div class="col-sm-9">
                          <div class="input-icon block col-xs-12 no-padding">
                              <input maxlength="100" type="text" class="col-xs-12" name="subject" id="form-field-subject" placeholder="Subject" ng-model="message.subject"/>
                              <i class="ace-icon fa fa-comment-o"></i>
                          </div>
                      </div>
                  </div>

                  <div class="hr hr-18 dotted"></div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label no-padding-right">
                          <span class="inline space-24 hidden-480"></span>
                          Message:
                      </label>

                      <!-- #section:plugins/editor.wysiwyg -->
                      <div class="col-sm-9">
                          <textarea class="col-sm-12" style="min-height: 150px" ng-model="message.body">

                          </textarea>
                      </div>

                      <!-- /section:plugins/editor.wysiwyg -->
                  </div>

                  <div class="hr hr-18 dotted"></div>
                  <div class="space"></div>
              </div>
              <!-- /section:pages/inbox.compose -->
          </form>
      </div>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="sendMessage()" ng-disabled="!message.subject||!message.body||message.recipients.length==0">Send Message</button>
</footer>


