<div class="modal-header center-button">
    <h4 class="modal-title">Custom Note Creator </h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Label </label>

            <div class="col-sm-7">
                <input type="text" class="form-control0" ng-model="label"/>
            </div>
        </div>

    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="create()" ng-disabled="!label">Save</button>
</footer>