<div class="modal-header center-button">
    <h4 class="modal-title">Select The Date </h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <p class="center-button">Selected date is: {{selectedDate | date:'fullDate' }}</p>
    <section class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="display:inline-block; min-height:290px;">
                <datepicker ng-model="selectedDate" min-date="minDate"  date-disabled="disabled(date)" show-weeks="false" class="well well-sm"></datepicker>
            </div>
        </div>
    </section>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-init-violet" ng-click="confirmDate(selectedDate)">Confirm</button>
</footer>