<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Delete Encounter for {{encounter.patient.firstName}} {{encounter.patient.lastName}}</h4>
</div>
<div class="modal-body row" style="text-align: center;">
  Are you you you want to delete this encounter. It cannot be undone!
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="deleteEncounter()">Delete</button>
</footer>