<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Reassign Doctor for {{encounter.patient.firstName}} {{encounter.patient.lastName}}</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <div class="form-group">
        <label class="col-sm-4 control-label " for="form-field-1"> New Doctor</label>
        <div class="col-sm-5">
            <select class="form-control" ng-model="encounter.doctorId" ng-options="doctor.id as doctor.name  for doctor in doctors" required="true">
            </select>
        </div>
    </div>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="updateEncounterDoctor()">Save</button>
</footer>