<div class="modal-header" style="text-align: center">
    <h4 class="modal-title">New Encounter Form </h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="col-sm-11 col-sm-offset-1">

            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Height(CM)</label>

                <div class="col-sm-5">
                    <input type="text" id="form-field-1" ng-model="encounter.height" ng-change="calculateBmi()"  class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Weight(KG)</label>

                <div class="col-sm-5">
                    <input type="text" id="form-field-1" ng-model="encounter.weight" ng-change="calculateBmi()"  class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Body Mass Index</label>

                <div class="col-sm-5">
                    <input type="text" id="form-field-1" ng-model="encounter.bmi | number:2"  class="col-sm-12" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label "eeee for="form-field-1">Temp</label>

                <div class="col-sm-5">
                    <input type="text" id="form-field-1" ng-model="encounter.temp"  class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Blood Pressure</label>

                <div class="col-sm-5">
                    <input type="text" id="form-field-1" ng-model="encounter.bloodPressure"  class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Assign to Doctor</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="encounter.doctor" required="true" ng-options="doctor.name for doctor in doctors ">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Consultation Brief Description </label>
                <div class="col-sm-8">
                    <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.chiefComplaint" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px;" ></textarea>
                </div>
            </div>
        </div>


    </form>

</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="setLatestGeneralMedicals()">Push to Doctor Wait-list</button>
</footer>