<div class="modal-header" style="text-align: center">
    <h4 class="modal-title">New Appointment</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <div class="col-md-12" ng-show="disabled" style="margin-bottom: 10px;">
        <button class="btn btn-success btn-xs" ng-click="(disabled = false)()">Edit Appointment</button>
        <button class="btn btn-danger btn-xs" ng-click="deleteAppointment()">Delete Appointment</button>
    </div>
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="col-sm-11 col-sm-offset-1">

            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Doctor To See</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="newAppointment.doctorId" ng-options="doctor.id as doctor.name  for doctor in doctors" ng-disabled="disabled">
                        <option>--Select A Doctor--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Reason of Visit</label>
                <div class="col-sm-5">
                    <textarea rows="4" class="form-control" ng-model="newAppointment.reason" ng-disabled="disabled">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Follow Up Visit?</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="newAppointment.followUp" ng-disabled="disabled">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1">Date&Time</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newAppointment.dateTime" disabled>
                </div>
                <div class="col-sm-10 col-sm-offset-1" ng-hide="disabled">
                    <datetimepicker data-ng-model="newAppointment.dateTime"></datetimepicker>
                </div>
            </div>

         </div>

    </form>

</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="createAppointment()" ng-disabled="disabled">Save Appointment</button>
</footer>