<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title"> Create Prescription</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <div class="col-sm-3">
        <button class="btn btn-xs btn-success" ng-click="createPrescriptionForm()">Create Prescription</button>
        <h5>Prescription History</h5>
        <hr>
        <div class="list-group">
            <a href="" ng-click="showPrescription(prescp)" class="list-group-item padding active" ng-repeat="prescp in prescriptions" style="margin-bottom: 6px;">{{prescp.drug}}-{{prescp.startingDate|date:'MM/dd/yyyy'}}</a>
        </div>
    </div>
    <div class="col-sm-9">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Currently Active</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="prescription.active" required="true">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Starting Date</label>
                <div class="col-sm-5">
                   <input type="text" class="form-control" disabled ng-model="prescription.startingDate">
                </div>
                <div class="col-sm-4">
                    <button class="btn  btn-success" ng-click="chooseDate()">Choose Date</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Drug</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="prescription.drug" class="form-control">
                </div>
                <div class="col-sm-4">
                    <button class="btn  btn-success" ng-click="searchPharmacy()">Search Pharmacy</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Quantity</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="prescription.quantity" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Medicine Units</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="prescription.medicineUnit" class="form-control">
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="prescription.medicineUnitMeasurement" required="true">
                        <option value="mg">mg</option>
                        <option value="mg/1cc">mg/1cc</option>
                        <option value="mg/2cc">mg/2cc</option>
                        <option value="mg/3cc">mg/3cc</option>
                        <option value="mg/4cc">mg/4cc</option>
                        <option value="mg/5cc">mg/5cc</option>
                        <option value="mcg">mcg</option>
                        <option value="grams">grams</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Take</label>
                <div class="col-sm-1">
                    <input type="text" ng-model="prescription.takeAmount" class="form-control">
                </div>
                <div class="col-sm-1">
                    in
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="prescription.takeUnit" required="true">
                        <option value="suspension">suspension</option>
                        <option value="tablets">tablet</option>
                        <option value="capsule">capsule</option>
                        <option value="solution">solution</option>
                        <option value="tsp">tsp</option>
                        <option value="ml">ml</option>
                        <option value="units">units</option>
                        <option value="inhalations">inhalations</option>
                        <option value="gtts">gtts(drops)</option>

                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="prescription.takeInsertZone" required="true">
                        <option label="Per Oris" value="1">Per Oris</option>
                        <option label="Per Rectum" value="2">Per Rectum</option>
                        <option label="To Skin" value="3">To Skin</option>
                        <option label="To Affected Area" value="4">To Affected Area</option>
                        <option label="Sublingual" value="5">Sublingual</option>
                        <option label="OS" value="6">OS</option>
                        <option label="OD" value="7">OD</option>
                        <option label="OU" value="8">OU</option>
                        <option label="SQ" value="9">SQ</option>
                        <option label="IM" value="10">IM</option>
                        <option label="IV" value="11">IV</option>
                        <option label="Per Nostril" value="12">Per Nostril</option>
                        <option label="Both Ears" value="13">Both Ears</option>
                        <option label="Left Ear" value="14">Left Ear</option>
                        <option label="Right Ear" value="15">Right Ear</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="prescription.takeTimeInterval" required="true">
                        <option label="b.i.d." value="1">b.i.d.</option>
                        <option label="t.i.d." value="2">t.i.d.</option>
                        <option label="q.i.d." value="3">q.i.d.</option>
                        <option label="q.3h" value="4">q.3h</option>
                        <option label="q.4h" value="5">q.4h</option>
                        <option label="q.5h" value="6">q.5h</option>
                        <option label="q.6h" value="7">q.6h</option>
                        <option label="q.8h" value="8">q.8h</option>
                        <option label="q.d." value="9">q.d.</option>
                        <option label="a.c." value="10">a.c.</option>
                        <option label="p.c." value="11">p.c.</option>
                        <option label="a.m." value="12">a.m.</option>
                        <option label="p.m." value="13">p.m.</option>
                        <option label="ante" value="14">ante</option>
                        <option label="h" value="15">h</option>
                        <option label="h.s." value="16">h.s.</option>
                        <option label="p.r.n." value="17">p.r.n.</option>
                        <option label="stat" value="18">stat</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Refills</label>
                <div class="col-sm-1">
                    <input type="number" ng-model="prescription.refills" class="form-control">
                </div>
                <div class="col-sm-8">
                    <label class="col-sm-4 control-label " for="form-field-1"># of tablets</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="prescription.numberOfTablets"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Substitutions Allowed</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="prescription.subtitutionAllowed" required="true">
                        <option  value="true">Yes</option>
                        <option  value="false">No</option>

                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label " for="form-field-1"> Notes</label>
                <div class="col-sm-8">
                    <textarea id="form-field-11" class="autosize-transition form-control" ng-model="prescription.notes" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                </div>
            </div>
        </form>
    </div>

</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="savePrescription()">Save</button>
</footer>