<div class="modal-header center-button">
    <h4 class="modal-title">Patient Note </h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-2 control-label " for="form-field-1"> Note </label>

            <div class="col-sm-7">
                <textarea class="form-control" rows="5" id="comment" ng-model="note.noteText"></textarea>
            </div>
        </div>

    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="saveNote()" ng-disabled="!note.noteText">Save</button>
</footer>