<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Select Pharmacy Drug</h4>
</div>
<div class="modal-body row" style="max-height: 350px;overflow-x: auto">
    <div class="row">
        <div class="col-md-6">
            <input type="text" ng-model="query" placeholder="filter"/>
        </div>
    </div>
    <ul>
        <li ng-repeat="drug in drugs | filter:query"><a ng-click="selectThis(drug)" href="">{{drug.name}}</a></li>
    </ul>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</footer>