<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Appointment Information</h4>
</div>
<div class="modal-body row">
    <div class="row" style="text-align: center">
        <img  class="img-rounded" ng-src="{{appointment.patient.picture}}">
    </div>
    <form class="form-horizontal" role="form" style="max-height: 300px;overflow-y: auto;">
        <!-- DETAILS -->
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-5 control-label">First Name:</label>
            <div class="col-sm-7">
                <span  class="form-control-static">{{appointment.patient.firstName}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-5 control-label">Last Name:</label>
            <div class="col-sm-7">
                <span ng-if="profile.lastName !== null" class="form-control-static ">{{appointment.patient.lastName}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="input" class="col-sm-5 control-label">Date of Birth:</label>
            <div class="col-sm-7">
                <span ng-if="profile.personalProfileDetails !== null" class="form-control-static"> {{appointment.patient.dob|date:"MM/dd/yyyy"}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="input" class="col-sm-5 control-label">Reason:</label>
            <div class="col-sm-7">
                <span ng-if="profile.dateOfBirth !== null" class="form-control-static">{{appointment.reason}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="input" class="col-sm-5 control-label">Follow Up?</label>
            <div class="col-sm-7">
                <span ng-if="profile.dateOfBirth !== null" class="form-control-static">{{appointment.followUp? 'Yes':'No'}}</span>
            </div>
        </div>
    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="cancel()">Okay</button>
</footer>