<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Upload Restore File</h4>
</div>
<div class="modal-body row" style="max-height: 350px;overflow-x: auto;text-align: center">

    <button  class="btn btn-success" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="application/x-tar" ngf-max-height="1000" ngf-max-size="1MB">
        <i class="fa fa-file"></i>  Select Tar File</button>
    <br><br>
    File:
    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
    </div>
    {{errorMsg}}
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</footer>