<div class="modal-header center-button" style="text-align: center;">
    <h4 class="modal-title">Hospital Bill</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    <div class="col-md-12" style="padding-bottom: 5px;padding-top: 5px;">
        <button class="btn btn-danger btn-xs pull-right" ng-click="goToEditMode()" ng-show="disabled">Edit</button>
        <button class="btn btn-danger btn-xs pull-right" ng-click="cancelEdit()" ng-hide="disabled">Cancel Edit</button>
    </div>
    <form class="form-horizontal" role="form">
        <!-- #section:elements.form -->
        <div class="form-group">
            <label class="col-sm-4 control-label " for="form-field-1">Payment Method</label>
             <div class="col-md-6">
                 <select class="form-control" ng-disabled="disabled" ng-model="bill.patientFinancialId" ng-options="patientFinancial.id as patientFinancial.insuranceType  for patientFinancial in patientFinancials" required="true"></select>
             </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label " for="form-field-1"> Lab Cost</label>
            <input type="number" id="form-field-1" ng-model="bill.labCost" class="col-sm-6" min="0"  ng-change="calculateTotal()" required="true" ng-disabled="disabled" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label " for="form-field-1"> Pharmacy Cost</label>
            <input type="number" id="form-field-1" ng-model="bill.pharmacyCost" class="col-sm-6" min="0" ng-change="calculateTotal()" required="true" ng-disabled="disabled" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label " for="form-field-1"> Consultation Cost</label>
            <input type="number" id="form-field-1" ng-model="bill.consultationCost" class="col-sm-6" min="0" ng-change="calculateTotal()" required="true" ng-disabled="disabled" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label " for="form-field-1"> Other Cost</label>
            <input type="number" id="form-field-1" ng-model="bill.otherCost" class="col-sm-6" min="0"  ng-change="calculateTotal()" required="true" ng-disabled="disabled">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label " for="form-field-1"> Total Cost</label>
            <input type="number" id="form-field-1" ng-model="bill.totalCost" class="col-sm-6"  min="0" required="true" disabled>
        </div>

    </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-success pull-right" ng-click="saveBillData()">Save</button>
    <button type="button" class="btn btn-warning pull-left" ng-click="cancel()">Cancel</button>
</footer>