<div class="modal-header center-button" style="text-align: center;">
    <div class="row">
        <i class="fa fa-3x fa-exclamation-triangle" style="color: #ff0000"></i>
    </div>
    <h4 class="modal-title">Start Seeing Patient</h4>
</div>
<div class="modal-body row" style="text-align: center;">
    Are you sure you are ready to start seeing <strong>{{patient.firstName}} {{patient.lastName}}</strong>. Please not that status cannot be reversed for billing purposes.

</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="seePatient()">Start Seeing Patient</button>
</footer>