.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#ng-camera-action{
    background-color:#438eb9!important;
    color:white!important;


}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}