<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Appointments</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="AppointmentController" style="padding-right: 10px;">
            <div class="col-sm-12" style="margin-bottom: 15px;">
                <h3>Patient Appointments</h3>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarDay"
                        decrement="calendarView">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="calendarDay"
                        set-to-today>
                    Today
                </button>

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarDay"
                        increment="calendarView">
                    Next
                </button>
                <span style="font-weight: bold;font-size: 20px;">
                  {{calendarTitle}}
                </span>

                <button
                        class="btn btn-primary pull-right"
                        ng-click="changeCalendarView('month')">
                    Month View
                </button>
                <button
                        class="btn btn-danger pull-right"
                        ng-click="changeCalendarView('week')">
                    Week View
                </button>
                <button
                        class="btn btn-warning pull-right"
                        ng-click="changeCalendarView('day')">
                    Day View
                </button>
                <button
                        class="btn btn-success pull-right"
                        ng-click="changeCalendarView('year')">
                    Year View
                </button>
                <button
                        class="btn btn-danger pull-right" style="margin-right: 5px;"
                        ng-click="createAppointment()">
                    <i class="fa fa-plus"></i> Create Appointment
                </button>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Filter Doctor's Schedule</label>
                    <div class="col-sm-10">
                       <select class="form-control" ng-model="doc"  ng-change="filterChange(doc)">
                           <option value="all">All</option>
                           <option ng-repeat="doctor in doctors" value="{{doctor.id}}">{{doctor.name}}</option>
                       </select>
                    </div>
                </div>

            </div>
            <div class="col-sm-12">
                <mwl-calendar
                        view="calendarView"
                        current-day="calendarDay"
                        events="events"
                        view-title="calendarTitle"
                        on-event-click="openAppointmentModal(calendarEvent)"
                        on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                        edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                        delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                        on-edit-event-click="eventEdited(calendarEvent)"
                        on-delete-event-click="eventDeleted(calendarEvent)"
                        auto-open="true">
                </mwl-calendar>
            </div>
        </div>
    </div>
</div>