
<div id="navbar" class="navbar navbar-default" ng-controller="BannerController">
<div class="navbar-container" id="navbar-container">
<!-- #section:basics/sidebar.mobile.toggle -->
<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
    <span class="sr-only">Toggle sidebar</span>

    <span class="icon-bar"></span>

    <span class="icon-bar"></span>

    <span class="icon-bar"></span>
</button>

<!-- /section:basics/sidebar.mobile.toggle -->
<div class="navbar-header pull-left">
    <!-- #section:basics/navbar.layout.brand -->
    <a href="#/home" class="navbar-brand">
        <small>
            <img ng-src="images/medirec-logo.png" height="30px"/>
            {{hospital.name? hospital.name:"Medirec Systems"}}
        </small>
    </a>
</div>

<!-- #section:basics/navbar.dropdown -->
<div class="navbar-buttons navbar-header pull-right" role="navigation">
<ul class="nav ace-nav">
<li class="green">
    <a data-toggle="dropdown" class="dropdown-toggle" href="">
        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">{{unreadCount}}</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-envelope-o"></i>
            {{unreadCount}} Messages
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                <li ng-repeat="message in inboxItems| orderBy: '-createdAt'">
                    <a href="#/messages">
                        <img src="../assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">{{message.message.doctor.firstName + " "+ message.message.doctor.lastName}}</span>
                                                        {{message.message.subject}}
													</span>
													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>{{message.createdAt|date:'medium'}}</span>
													</span>
												</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="#/messages" >
                See all messages
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<!-- #section:basics/navbar.user_menu -->
<li class="light-blue">
    <a data-toggle="dropdown" href="" class="dropdown-toggle">
        <img  ng-src="{{currentUser.picture}}" width="30px;"/>
								<span class="user-info">
									<small>Welcome,</small>
									{{currentUser.firstName}} {{currentUser.lastName}}
								</span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#/myProfile">
                <i class="ace-icon fa fa-user"></i>
                Profile
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="" ng-click="logout()">
                <i class="ace-icon fa fa-power-off"></i>
                Logout
            </a>
        </li>
    </ul>
</li>
<script type="text/javascript">
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
</script>


<!-- /section:basics/navbar.user_menu -->
</ul>
</div>

<!-- /section:basics/navbar.dropdown -->
</div><!-- /.navbar-container -->
</div>
