<div class="row">
<div class="col-md-12" ng-include="'views/banner-top.html'"></div>
<div class="row">
<div class="col-md-2">
    <div class="row" style="text-align: center;">
        <h3>Data Management</h3>
    </div>
    <div ng-include="'views/side-menu.html'"></div>
</div>
<div class="col-md-9" ng-controller="DataManagementController" style="padding-right: 10px;">
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/home">Home</a>
        </li>
        <li class="active">Data Management</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
        <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
        </form>
    </div><!-- /.nav-search -->
    <!-- /section:basics/content.searchbox -->
</div>
<div class="col-md-12">
    <div class="col-md-11 col-md-offset-1" style="margin-top: 10px;margin-bottom: 10px;">
        <button type="button" class="btn btn-info" ng-click="createNewBackup()"><i class="fa fa-plus"></i> Create New Backup</button>
        <button type="button" class="btn btn-warning" ng-click="openRestoreModal()"><i class="fa fa-upload"></i> Upload Restore File</button>
    </div>
    <div class="col-mdd-11 col-md-offset-1" style="margin-top: 20px;">
        <h2>Last Backup done on:</h2>
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Date of Backup</th>
                <th class="hidden-480">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="backup in backups|orderBy:'-createdAt'">
                <td>
                    Backup on {{backup.createdAt|date:'medium'}}
                </td>
                <td><a href="/backupData/downloadBackup/{{backup.id}}" target="_blank"><button class="btn btn-xs btn-success">Download Backup</button></a><button class="btn btn-xs btn-success" style="margin-left: 10px;">Restore Data</button></td>
            </tr>
            </tbody>
        </table>

    </div>


</div>
</div>
</div>
</div>