<div class="row">
<div class="col-md-12" ng-include="'views/banner-top.html'"></div>
<div class="row">
<div class="col-md-2">
    <div class="row" style="text-align: center;">
        <h3>Officials</h3>
    </div>
    <div ng-include="'views/side-menu.html'"></div>
</div>
<div class="col-md-9" ng-controller="DoctorController" style="padding: 2px;">
<div class="row" style="margin-left: 5px;">
    <button class="btn  btn-success" ng-click="goToCreateDoctor()">
        <i class="fa fa-plus"></i>
        Register New Official
    </button>
</div>
<hr style="border-top:2px solid #000000;margin-left:0px;padding-left: 0px;margin-top: 2px;">
<div class="row" style="text-align: center;margin-top: 5px;">
    <h2>Search Records</h2>
    <div class="col-md-6 col-md-offset-3">
        <input type="text" class="form-control" ng-model="searchData.param" placeholder="First Name or Last Name">
        <button type="button" class="btn btn-info" ng-click="searchDoctor()"><i class="fa fa-search" ></i>Search</button>
        <button type="button" class="btn btn-info"  ng-click="getAllDoctors()"><i class="fa fa-search"></i>Show All Doctors</button>
    </div>
</div>
<div class="row" style="margin-top: 15px; padding: 5px;" >
<div class="col-md-12">
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
<thead>
<tr>
    <th class="center">
        <label class="position-relative">
            <input type="checkbox" class="ace">
            <span class="lbl"></span>
        </label>
    </th>
    <th>First Name</th>
    <th>Last Name</th>
    <th class="hidden-480">Gender</th>

    <th>
        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
        Last Visit
    </th>
    <th class="hidden-480">Billing Status</th>

    <th>Actions</th>
</tr>
</thead>

<tbody>
<tr ng-repeat="doctor in doctors">
    <td class="center">
        <label class="position-relative">
            <input type="checkbox" class="ace">
            <span class="lbl"></span>
        </label>
    </td>

    <td>
        {{doctor.firstName}}
    </td>
    <td>{{doctor.lastName}}</td>
    <td>{{doctor.gender}}</td>
    <td>Last Visit TODO</td>
    <td class="hidden-480">
        <span class="label label-sm label-warning">Expiring</span>
    </td>

    <td>
        <div class="hidden-sm hidden-xs btn-group">

            <button class="btn btn-xs btn-info" ng-click="updateDoctor(doctor)">
                <i class="ace-icon fa fa-pencil bigger-120"></i>
            </button>

            <button class="btn btn-xs btn-danger">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
            </button>

            <button class="btn btn-xs btn-warning">
                <i class="ace-icon fa fa-flag bigger-120"></i>
            </button>
        </div>

        <div class="hidden-md hidden-lg">
            <div class="inline position-relative">
                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                </button>

                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                    <li>
                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </td>
</tr>
</tbody>
</table>
</div>
</div>

</div>
</div>
</div>