<div class="row" style="background-color: #FFFFFF!important;">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Create Official</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="DoctorCreateController" style="padding: 2px;">
            <div class="row" style="margin-left: 5px;">
                <button class="btn  btn-warning" ng-click="goToDoctors()">
                    <i class="fa fa-backward"></i>
                    Back to Officials
                </button>
            </div>
            <hr style="border-top:2px solid #000000;margin-left:0px;padding-left: 0px;margin-top: 2px;">
            <div class="row" style="margin-left: 5px;">

                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Role </label>

                            <div class="col-sm-9">
                                <select ng-model="newDoctor.role" class="form-control" id="form-field-select-1" required>
                                    <option value="nurse">Nurse</option>
                                    <option value="doctor">Doctor</option>
                                    <option value="admin">Administrator</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> First Name </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="newDoctor.firstName" placeholder="Sule" class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Middle Name </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="newDoctor.middleName" placeholder="Segun" class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Last Name </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1"  ng-model="newDoctor.lastName" class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Username </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1"  ng-model="newDoctor.username" class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Password </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1"  ng-model="newDoctor.password" class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Confirm Password </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1"  ng-model="newDoctor.confirmPassword" class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Gender </label>

                            <div class="col-sm-4">
                                <select ng-model="newDoctor.gender" class="form-control" id="form-field-select-1" required>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address 1</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="newDoctor.address" placeholder="123 Asaba Street" class="col-sm-12" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Local Government</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="newDoctor.addressLocalGovernment" id="form-field-1"  class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="newDoctor.addressState"id="form-field-1"  class="col-sm-12" required>
                            </div>
                        </div>

                        <div class="space-4"></div>
                        <h3>Contact Information</h3>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Phone Number</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newDoctor.phone" placeholder="Landline or Cell Phone" class="col-sm-12"required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-9" >
                                <input type="email" id="form-field-1" ng-model="newDoctor.email"  class="col-sm-12" required>
                            </div>
                        </div>
                        <h3>Identification</h3>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Identification Type</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newDoctor.identificationType"  class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Identification Num.</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newDoctor.identification"  class="col-sm-12" required>
                            </div>
                        </div>

                        <h3>Education</h3>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Medical School</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newDoctor.medicalSchool"  class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">University</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newDoctor.university"  class="col-sm-12" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">State of Origin</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newDoctor.stateOfOrigin"  class="col-sm-12" required >
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit"  class="btn btn-success pull-right" ng-click="createOfficial()" ng-disabled="!newDoctor.picture">Create Account</button>
                        </div>


                        <!-- /.row -->
                    </form>
                </div>


                <!---Picture stuff starts here-->

                <div class="col-md-2" style="text-align: center;">
                    <div style="border:2px solid #FF6E00" ng-if="newDoctor.picture">
                        <img ng-if="newDoctor.picture" ng-src="{{newDoctor.picture}}" alt="webcam picture">
                    </div>
                    <ng-camera
                            capture-message="Stay Still!!"
                            countdown="3"
                            output-height="160"
                            output-width="213"
                            viewer-height="320"
                            viewer-width="426"
                            crop-height="90"
                            crop-width="120"
                            image-format="jpeg"
                            jpeg-quality="100"
                            action-message="Take Picture"
                            snapshot="newDoctor.picture"
                            flash-fallback-url="vendor/webcam.swf"
                            ></ng-camera>
                </div>

            </div>
        </div>
    </div>
</div>