<div class="row">
   <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
   <div class="row">
       <div class="col-md-2">
           <div class="row" style="text-align: center;">
               <h3>Home</h3>
           </div>
           <div ng-include="'views/side-menu.html'"></div>
       </div>
       <div class="col-md-9" ng-controller="HomeController" style="padding-right: 10px;">
           <div class="breadcrumbs" id="breadcrumbs">
               <script type="text/javascript">
                   try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
               </script>

               <ul class="breadcrumb">
                   <li>
                       <i class="ace-icon fa fa-home home-icon"></i>
                       <a href="#">Home</a>
                   </li>
                   <li class="active">Dashboard</li>
               </ul><!-- /.breadcrumb -->

               <!-- #section:basics/content.searchbox -->
               <div class="nav-search" id="nav-search">
                   <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                   </form>
               </div><!-- /.nav-search -->

               <!-- /section:basics/content.searchbox -->
           </div>
           <div class="col-md-12">
               <div class="page-header">
                   <h1>
                       Welcome back  {{currentUser.firstName|fullName}} {{currentUser.lastName|fullName}}!  <span ng-if="role=='doctors'">(Doctor)</span><span ng-if="role=='nurses'">(Nurse)</span><span ng-if="role=='admins'">(Admin)</span>
                   </h1>
               </div>

               <!--doctor partial starts here-->
               <div class="col-md-12" ng-if="role=='doctors'">
                   <div class="col-md-6">
                       <h3>Your Patients Wait List</h3>
                       <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                           <thead>
                           <tr>
                               <th>Full Name</th>
                               <th class="hidden-480">DOB</th>
                               <th class="hidden-480">Gender</th>
                               <th>Actions</th>
                           </tr>
                           </thead>

                           <tbody>
                           <tr ng-repeat="encounter in encountersWaiting|filter:searchText">
                               <td>
                                   <a href="#/encounters/{{encounter.id}}">{{encounter.patient.firstName|fullName}} {{encounter.patient.lastName|fullName}}</a>
                               </td>
                               <td>{{encounter.patient.dob | date:'yyyy-MM-dd'}}</td>
                               <td class="hidden-480">{{encounter.patient.gender|shortGender}}</td>
                               <td>
                                   <div class="hidden-sm hidden-xs btn-group">
                                       <button class="btn btn-xs btn-success" ng-click="seePatient(encounter)">
                                           <i class="ace-icon fa fa-check bigger-120"></i> See Patient
                                       </button>
                                   </div>
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
                   <div class="col-md-6" >
                       <div class="col-md-4">
                       <h3>Quick Links</h3>
                           <a href="#/messages" class="btn btn-app btn-info btn-app no-radius">
                               <i class="ace-icon fa fa-envelope bigger-200"></i>
                               My Inbox
                           </a>
                           <!--<a href="#" class="btn btn-default btn-app radius-4">
                               <i class="ace-icon fa fa-cog bigger-230"></i>
                               My Settings
                           </a> -->
                           <a href="" class="btn btn-success btn-app radius-4" ng-click="goToPatients()">
                               <i class="ace-icon fa fa-users bigger-230"></i>
                               Patients
                           </a>
                       </div>
                       <div class="col-md-8">
                          <h3>Upcoming Appointments</h3>
                           <div class="col-md-12">
                               <table id="sample-table-1" class="table table-striped table-bordered table-hover col-md-12">
                                   <thead>
                                   <tr>
                                       <th>Name</th>
                                       <th>Time</th>
                                   </tr>
                                   </thead>
                                   <tbody style="max-height: 300px; overflow-y: auto">
                                   <tr ng-repeat="appointment in appointments">
                                       <td>
                                          <a href="" ng-click="showAppointmentInformation(appointment)">{{appointment.patient.firstName}} {{appointment.patient.lastName}}</a>
                                       </td>
                                       <td>{{appointment.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                   </tr>
                                   </tbody>
                                   </table>
                           </div>
                       </div>
                   </div>

               </div>
               <!--End of doctor partial-->

               <!--Partial for nurses-->
               <div class="col-md-12" ng-if="role=='nurses'">
                   <div class="col-md-6">
                       <div class="col-md-12" style="border: 2px solid #00008b;background-color:#d3d3d3;height: 70px; border-radius: 5px;">
                             <h3 class="text-success">{{patientWaitList.length}} patient(s) in circulation</h3>
                       </div>
                       <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                           <thead>
                           <tr>
                               <th>Full Name</th>
                               <th class="hidden-480">DOB</th>
                               <th class="hidden-480">Gender</th>
                               <th>Flow Status</th>
                               <th>Doctor to be seen</th>
                           </tr>
                           </thead>

                           <tbody>
                           <tr ng-repeat="encounter in patientWaitList|orderBy:'-createdAt'">
                               <td>
                                   <a href="#/encounters/{{encounter.id}}">{{encounter.patient.firstName|fullName}} {{encounter.patient.lastName|fullName}}</a>
                               </td>
                               <td>{{encounter.patient.dob | date:'yyyy-MM-dd'}}</td>
                               <td class="hidden-480">{{encounter.patient.gender|shortGender}}</td>
                               <td>{{encounter.status}}</td>
                               <td>{{encounter.doctor.firstName}} {{encounter.doctor.lastName}}</td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
                   <div class="col-md-2">
                       <h3>Quick Links</h3>
                       <a href="#/messages" class="btn btn-app btn-info btn-app no-radius">
                           <i class="ace-icon fa fa-envelope bigger-200"></i>
                           My Inbox
                       </a>
                       <!--<a href="#" class="btn btn-default btn-app radius-4">
                           <i class="ace-icon fa fa-cog bigger-230"></i>
                           My Settings
                       </a> -->
                       <a href="" class="btn btn-success btn-app radius-4" ng-click="goToPatients()">
                           <i class="ace-icon fa fa-users bigger-230"></i>
                           Patients
                       </a>
                       <a href="/#/encounters" class="btn btn-success btn-app radius-4" >
                           <i class="ace-icon fa fa-heart bigger-230"></i>
                           Encounters
                       </a>
                       <a href="/#/appointments" class="btn btn-info btn-app radius-4" >
                           <i class="ace-icon fa fa-calendar bigger-230"></i>
                           Calendar
                       </a>
                   </div>
                   <div class="col-md-4">
                       <h3>Upcoming Appointments</h3>
                       <table id="sample-table-1" class="table table-striped table-bordered table-hover col-md-12">
                           <thead>
                           <tr>
                               <th>Name</th>
                               <th>Time</th>
                           </tr>
                           </thead>
                           <tbody style="max-height: 300px; overflow-y: auto">
                           <tr ng-repeat="appointment in appointments">
                               <td>
                                   <a href="" ng-click="showAppointmentInformation(appointment)">{{appointment.patient.firstName}} {{appointment.patient.lastName}}</a>
                               </td>
                               <td>{{appointment.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                           </tr>
                           </tbody>
                       </table>


                   </div>
               </div>

               <!--partial for admins-->

               <div ng-if="role=='admin'">



               </div>


           </div>





       </div>
   </div>
</div>