<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Hospital Billing</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="HospitalBillingController" style="padding-right: 10px;">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#/home">Home</a>
                    </li>
                    <li class="active">Hospital Billing</li>
                </ul><!-- /.breadcrumb -->

                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                    </form>
                </div><!-- /.nav-search -->
                <!-- /section:basics/content.searchbox -->
            </div>
            <div class="col-md-12">
                <div class="col-md-11 col-md-offset-1">



                </div>
                <div class="col-mdd-11 col-md-offset-1" style="margin-top: 20px;">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Date and Time</th>
                            <th>Patient Name</th>
                            <th class="hidden-480">Amount</th>
                            <th class="hidden-480">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bill in billings|orderBy:'-createdAt'">
                            <td>
                                {{bill.createdAt|date:'medium'}}
                            </td>
                            <td>
                                {{bill.patient.firstName}} {{bill.patient.lastName}}
                            </td>
                            <td>
                                {{bill.totalCost | currency:"Naira ":0}}
                            </td>
                            <td>
                                <button class="btn btn-success btn-xs" ng-click="viewEncounterBill(bill)">View/Edit Details</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>







            </div>
        </div>
    </div>
</div>