<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Home</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="HospitalSettingController" style="padding-right: 10px;">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Hospital Setting</li>
                </ul><!-- /.breadcrumb -->

                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                    </form>
                </div><!-- /.nav-search -->

                <!-- /section:basics/content.searchbox -->
            </div>
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        Hospital Setting for {{hospital.name? hospital.name:'(Name Not Set)'}}
                    </h1>
                    <div class="col-md-11 col-md-offset-1" style="margin-bottom: 20px;margin-top: 15px;">
                        <button type="button" class="btn btn-sm btn-success" ng-hide="editMode" ng-click="(settingsView='hospital')">Hospital Information Setting</button>
                        <button type="button" class="btn btn-sm btn-warning" ng-hide="editMode" ng-click="(settingsView='hmo')">Hmo Settings</button>
                        <button type="button" class="btn btn-sm btn-danger" ng-hide="editMode" ng-click="(settingsView='companies')">Companies Settings</button>
                    </div>
                <div ng-switch="settingsView">
                <div ng-switch-default>
                <div class="col-md-11 col-md-offset-1" style="margin-bottom: 20px;">
                    <button type="button" class="btn btn-sm btn-warning" ng-hide="editMode" ng-click="editHospital()">Edit Settings</button>
                </div>
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Medirec Hospital ID</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.hospitalNumber"  class="col-sm-12" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Name</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.name"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Address </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.address"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Local Government </label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.localGovernment"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  State </label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.state"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Latitude </label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.lat"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Longitude </label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.lon"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Phone </label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.phone"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Phone 2</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.phone2"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Phone 3</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.phone3"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Email</label>
                            <div class="col-sm-9">
                                <input type="email" id="form-field-1" ng-model="hospital.email"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Open Time</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.openTime" class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Close Time</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.closeTime"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Director Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.contactName" class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Director Phone</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="hospital.contactPhone"  class="col-sm-12" ng-disabled="!editMode">
                            </div>
                        </div>
                        <div class="form-group" style="text-align:center;" ng-show="editMode">
                            <button type="submit" ng-click="saveHospital()" class="btn btn-success btn-lg ">Save</button>

                            <button type="button" ng-click="cancel()" class="btn btn-warning btn-lg">Cancel</button>
                        </div>
                    </form>
                </div>
                </div>
                    <div class="col-md-12" ng-switch-when="hmo">
                        <h3>HMO (Insurance) Settings</h3>
                        <div class="col-md-11 col-md-offset-1" style="margin-bottom: 20px;">
                            <button type="button" class="btn btn-sm btn-success"  ng-click="openNewHmoModal()">Add New HMO</button>
                            <div class="col-md-5">
                                <input class="form-control " type="text" placeholder="filter..." ng-model="searchHmo">
                            </div>
                        </div>
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>HMO Name</th>
                                <th class="hidden-480">Address</th>
                                <th class="hidden-480">Phone</th>
                                <th>NHIS Code</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="hmo in hmos|filter:searchHmo">
                                <td>
                                  {{hmo.name}}
                                </td>
                                <td>{{hmo.address}}</td>
                                <td class="hidden-480">{{hmo.phone}}</td>
                                <td>
                                    {{hmo.code}}
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-success" type="button" ng-click="getHmoPatients(hmo)">View Patient Covered</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="col-md-12" ng-switch-when="companies">
                        <h3>Company (Insurance) Settings</h3>
                        <div class="col-md-11 col-md-offset-1" style="margin-bottom: 20px;">
                            <button type="button" class="btn btn-sm btn-success"  ng-click="openNewCompanyModal()">Add New Company</button>
                            <div class="col-md-5">
                                <input class="form-control " type="text" placeholder="filter..." ng-model="searchHmo">
                            </div>
                        </div>
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Company Name</th>
                                <th class="hidden-480">Address</th>
                                <th class="hidden-480">Phone</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="company in companies|filter:searchHmo">
                                <td>
                                    {{company.name}}
                                </td>
                                <td>{{company.address}}</td>
                                <td class="hidden-480">{{company.phone}}</td>
                                <td>
                                    <button class="btn btn-xs btn-success" type="button" ng-click="getHmoPatients(hmo)">View Patient Covered</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>