<div class="row" style="background-color: #FFFFFF!important;">
<div class="col-md-12" ng-include="'views/banner-top.html'"></div>
<div class="row">
<div class="col-md-2">
    <div class="row" style="text-align: center;padding-left: 25px;">
        <h3>Import Data</h3>
    </div>
    <div ng-include="'views/side-menu.html'"></div>
</div>
<div class="col-md-9" ng-controller="ImportDataController" style="padding: 10px;margin-top: 100px;">
    <div class="form-group col-md-offset-2">
        <label class="col-sm-2 control-label " for="form-field-1">Select Patient</label>

        <div class="col-sm-5">
            <select type="text" id="form-field-1" ng-model="import.patientId" ng-options="patient.id as patient.name  for patient in patients"  class="col-sm-12">
            </select>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2" style="text-align: center;padding-top: 20px;">
        <a href="" ng-click="launchUploadDataModal()" class="btn  btn-info" ng-disabled="!import.patientId">
            <i class="fa fa-file-text"></i>
            Upload File
        </a>
        <a href="" ng-click="launchImportCameraModal()" class="btn  btn-success" ng-disabled="!import.patientId">
            <i class="fa fa-camera"></i>
            Take Picture
        </a>
    </div>
</div>
</div>
</div>