<div class="row" ng-controller="LoginController">
<div class="col-sm-10 col-sm-offset-1">
<div class="login-container">
<div class="center">
    <img src="images/medirec-logo.png" height="100px"/>
    <h1>
        <span class="red">{{hospital.name? hospital.name:"Medirec Systems"}}</span>
    </h1>
    <h4 class="blue" id="id-company-text" ng-show="hospital.name">&copy; By Medirec Systems</h4>
</div>


<div class="position-relative">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    Please Enter Your Credentials
                </h4>

                <div class="space-6"></div>

                <form>
                    <fieldset>
                        <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" ng-model="credentials.username" class="form-control" placeholder="Username" />
															<i class="ace-icon fa fa-user"></i>
														</span>
                        </label>

                        <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" ng-model="credentials.password" class="form-control" placeholder="Password" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
                        </label>
                        <label class="block clearfix">

                            <label>Sign in as:</label>
                                    <span class="block input-icon input-icon-right">
                                        <select ng-model="credentials.role" class="form-control" id="form-field-select-1">
                                            <option value="doctors">Doctor</option>
                                            <option value="nurses">Nurse</option>
                                            <option value="admins">Administrator</option>
                                        </select>
                                    </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <button type="button" ng-click="loginUser()" ng-disabled="!credentials.username||!credentials.password" class="width-35 pull-right btn btn-sm btn-primary">
                                <i class="ace-icon fa fa-key"></i>
                                <span class="bigger-110">Login</span>
                            </button>
                        </div>

                        <div class="space-4"></div>
                    </fieldset>
                </form>


            </div><!-- /.widget-main -->

            <div class="toolbar clearfix">
                <div>
                    <a href="#" data-target="#forgot-box" class="forgot-password-link">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        I forgot my password
                    </a>
                </div>

               <!-- <div>
                    <a href="#" data-target="#signup-box" class="user-signup-link">
                        I want to register
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </div>-->
            </div>
        </div><!-- /.widget-body -->
    </div><!-- /.login-box -->


<!--<div class="navbar-fixed-top align-right">
    <br />
    &nbsp;
    <a id="btn-login-dark" href="#">Dark</a>
    &nbsp;
    <span class="blue">/</span>
    &nbsp;
    <a id="btn-login-blur" href="#">Blur</a>
    &nbsp;
    <span class="blue">/</span>
    &nbsp;
    <a id="btn-login-light" href="#">Light</a>
    &nbsp; &nbsp; &nbsp;
</div> -->
</div>
</div><!-- /.col -->
<script type="text/javascript">
</script>

<!-- inline scripts related to this page -->




</div>
</div>