<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'" ></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Messages</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="MessageController" style="padding-right: 10px;">
            <div ng-include="'views/partial/inbox-partial.html'" ng-if="!ShowMessageDetail">
            </div>
            <div class="col-md-12" ng-if="ShowMessageDetail" style="margin-top: 40px;">
                <div class="col-md-12"><button class="btn btn-warning" ng-click="backToInbox()"> Back to Inbox</button></div>
                <div class="message-list-container">
                    <div class="message-content" id="id-message-content">
                        <div class="message-header clearfix">
                            <div class="pull-left">
                                <span class="blue bigger-125">
                                   Subject:{{currentMessage.message.subject}}
                                </span>
                                <div class="space-4"></div>


                                <img class="middle" alt="John's Avatar" src="images/medirec-logo.png" width="32" /><!-- sender photo -->

                                <a href="" class="sender">From:{{currentMessage.message.doctor.firstName + " " +currentMessage.message.doctor.lastName }}</a><!-- sender name -->

                                <i class="ace-icon fa fa-clock-o bigger-110 orange middle"></i>
                                <span class="time">{{currentMessage.createdAt|date:'medium'}}</span><!-- time sent -->
                            </div>

                            <div class="pull-right action-buttons">
                                <a href="#">
                                    <i class="ace-icon fa fa-reply green icon-only bigger-130"></i>
                                </a>
                            </div>
                            </div>

                            <div class="message-body">
                                {{currentMessage.message.body}}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>