<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Encounters</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="PatientEncounterHistoryController" style="padding: 2px;">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Complaint</th>
                    <th>Date</th>
                    <th>Doctor Assigned</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="encounter in encounters|filter:searchText">
                    <td class="center" style="font-size: 10px;">
                       <a href="#/encounters/{{encounter.id}}" >{{encounter.chiefComplaint}}</a>
                    </td>

                    <td>
                        {{encounter.createdAt|date:'medium'}}
                    </td>
                    <td>{{encounter.doctor.firstName|fullName}} {{encounter.doctor.lastName|fullName}}</td>
                    <td class="hidden-480">
                        <span class="label label-sm label-warning" ng-if="encounter.status=='Wait'">Waiting</span>
                        <span class="label label-sm label-success" ng-if="encounter.status=='withDoctor'">With Doctor</span>
                    </td>

                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-success" ng-click="changeStatus(encounter)">
                                <i class="ace-icon fa fa-check bigger-120"></i>
                            </button>

                            <button class="btn btn-xs btn-info" ng-click="changeDoctor(encounter)">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>

                            <button class="btn btn-xs btn-danger" ng-click="deleteEncounter(encounter)"  ng-if="encounter.status=='Wait'">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>