<div class="row" style="background-color: #FFFFFF!important;">
<div class="col-md-12" ng-include="'views/banner-top.html'"></div>
<div class="row">
<div class="col-md-2">
    <div class="row" style="text-align: center;padding: 2px;">
        <h3>Create Patient</h3>
    </div>
    <div ng-include="'views/side-menu.html'"></div>
</div>
<div class="col-md-9" ng-controller="PatientProfileController" style="padding: 2px; border-left:1px solid black;">
<div class="row" style="margin-left: 5px;">
    <button class="btn  btn-warning" ng-click="goToPatient()">
        <i class="fa fa-backward"></i>
        Back to Patient Home
    </button>
</div>
<hr style="border-top:2px solid #000000;margin-left:0px;padding-left: 0px;margin-top: 2px;">
<div class="row" style="margin-left: 5px;">
<div class="page-content">
<!-- #section:settings.box -->
<div class="ace-settings-container" id="ace-settings-container">


    <!-- /.ace-settings-box -->
</div><!-- /.ace-settings-container -->

<!-- /section:settings.box -->
<div class="page-content-area">
<div class="page-header">
    <h1>
        Patient Profile - {{patientAccount.firstName + " "+ patientAccount.lastName}}
    </h1>
</div><!-- /.page-header -->

<div class="row">
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->
<div class="">
<div id="user-profile-2" class="user-profile">
<div class="tabbable">
<div class="tab-content no-border padding-24">
<div id="home" class="tab-pane in active">
<div class="row">
    <div class="col-xs-12 col-sm-3 center">
                        <span class="profile-picture">
                            <img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" ng-src="{{patientAccount.picture}}">
                        </span>

        <div class="space space-4"></div>

        <a href="" class="btn btn-sm btn-block btn-success" ng-click="startEncounter()">
            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
            <span class="bigger-110"  >Create Encounter</span>
        </a>

        <a href="" class="btn btn-sm btn-block btn-primary" ng-click="createAppointmentOpenModal()">
            <i class="ace-icon fa fa-calendar bigger-110"></i>
            <span class="bigger-110">Set Appointment</span>
        </a>
        <a href="" ng-click="goToPatientEncounters()" class="btn btn-sm btn-block btn-warning">
            <i class="ace-icon fa fa-user-md bigger-110"></i>
            <span class="bigger-110">View Encounter History</span>
        </a>
        <a href="" ng-click="openNewPrescriptionModal()" class="btn btn-sm btn-block btn-danger">
            <i class="ace-icon fa fa-user-md bigger-110"></i>
            <span class="bigger-110">Show Prescriptions</span>
        </a>
        <a href="" class="btn btn-sm btn-block btn-error">
            <i class="ace-icon fa fa-file-text-o bigger-110"></i>
            <span class="bigger-110">Download PDF Record</span>
        </a>

    </div><!-- /.col -->

    <div class="col-xs-12 col-sm-9">
        <h4 class="blue">
            <span class="middle">{{patientAccount.firstName + " "+ patientAccount.lastName}}</span>
        </h4>
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name"> Gender</div>

                <div class="profile-info-value">
                    <span>{{patientAccount.gender}}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Official ID </div>

                <div class="profile-info-value">
                    <span>{{patientAccount.officialId}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Address One </div>

                <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>{{patientAccount.addressOne}}</span>
                </div>
            </div>
            <div class="profile-info-row" ng-if="patientAccount.addressTwo">
                <div class="profile-info-name"> Address Two </div>

                <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>{{patientAccount.addressTwo}}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Local Govt </div>

                <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>{{patientAccount.addressLocalGovernment}}</span>

                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> State</div>

                <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>{{patientAccount.addressState}}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Date of Birth</div>

                <div class="profile-info-value">
                    <span>{{patientAccount.dob}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Age </div>

                <div class="profile-info-value">
                    <span>{{getAge(patientAccount.dob)}} Year(s) Old</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Phone Number </div>

                <div class="profile-info-value">
                    <span>{{patientAccount.contactPhoneOne}}</span>
                </div>
            </div>
            <div class="profile-info-row" ng-if="patientAccount.contactPhoneTwo">
                <div class="profile-info-name"> Phone Number #2</div>

                <div class="profile-info-value">
                    <span>{{patientAccount.contactPhoneTwo}}</span>
                </div>
            </div>


        </div>

        <div class="hr hr-8 dotted"></div>


    </div><!-- /.col -->
</div><!-- /.row -->

<div class="space-20"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    Emergency Contact Information
                </h4>
            </div>

            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Contact Name</div>

                    <div class="profile-info-value">
                        <span>{{patientAccount.emergencyContactName}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Contact Phone Number</div>

                    <div class="profile-info-value">
                        <span>{{patientAccount.emergencyContactPhone}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Relationship to You</div>

                    <div class="profile-info-value">
                        <span>{{patientAccount.emergencyContactRelationship}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-comment bigger-110"></i>
                    Notes
                    <button class="btn btn-success btn-xs" type="button" ng-click="launchNewPatientNoteModal()">Add Note</button>
                </h4>
            </div>
            <div class="col-md-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Note</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="note in patientNotes|orderBy:'-createdAt'">
                        <td class="center" style="font-size: 10px;">
                            {{note.createdAt|date:'medium'}}
                        </td>
                        <td>
                            {{note.noteText}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-calendar bigger-110"></i>
                    Most Recent Doctor Encounters

                </h4>
            </div>

            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Complaint</th>
                    <th>Date</th>
                    <th>Doctor Assigned</th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="patientEncounter in patientEncounters| orderBy:-createdAt | limitTo:5">
                    <td class="center" style="font-size: 10px;">
                        {{patientEncounter.chiefComplaint}}
                    </td>
                    <td>
                        {{patientEncounter.createdAt|date:'medium'}}
                    </td>
                    <td>
                        {{patientEncounter.doctor.firstName + ' ' +patientEncounter.doctor.lastName}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-money bigger-110"></i>
                    Financial Information
                    <button class="btn btn-success btn-xs" type="button" ng-click="LaunchPatientFinancialModal()">Edit</button>
                </h4>
            </div>
            <div class="col-md-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Insurance Type</th>
                        <th>HMO</th>
                        <th>Insurance Number</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="financial in financials">
                        <td class="center" style="font-size: 10px;">
                            {{financial.insuranceType}}
                        </td>
                        <td>
                            {{financial.hmo? financial.hmo.name:financial.company.name}}
                        </td>
                        <td>
                            {{financial.insuranceId}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-money bigger-110"></i>
                    Latest Hospital Bills
                </h4>
            </div>
            <div class="col-md-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Total Cost</th>
                        <th>Payment Method</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="bill in patientBills">
                        <td class="center" style="font-size: 10px;">
                            {{bill.createdAt|date:'medium'}}
                        </td>
                        <td>
                            {{financial.hmo? financial.hmo.name:financial.company.name}}
                        </td>
                        <td>
                            {{financial.insuranceId}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small header-color-blue2">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-lightbulb-o bigger-120"></i>
                    General Medical Information <button type="button" class="btn btn-success btn-xs" ng-click="launchEditPatientGeneralInformation()">Edit Data</button>
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-16">
                    <div class="clearfix">
                        <div class="grid3 center">
                            <!-- #section:plugins/charts.easypiechart -->
                            <div class="easy-pie-chart percentage" data-percent="45" data-color="#CA5952" style="height: 72px; width: 72px; line-height: 71px; color: rgb(202, 89, 82);">
                                <span class="percent">{{patientAccount.generalMedical.bloodType? patientAccount.generalMedical.bloodType:'Not Set'}}</span>
                                <canvas height="79" width="79" style="height: 72px; width: 72px;"></canvas></div>

                            <!-- /section:plugins/charts.easypiechart -->
                            <div class="space-2"></div>
                            Blood Type
                        </div>

                        <div class="grid3 center">
                            <div class="center easy-pie-chart percentage" data-percent="90" data-color="#59A84B" style="height: 72px; width: 72px; line-height: 71px; color: rgb(89, 168, 75);">
                                <span class="percent">{{patientAccount.generalMedical.weight? patientAccount.generalMedical.weight:'Not Set'}}</span>
                                <canvas height="79" width="79" style="height: 72px; width: 72px;"></canvas></div>

                            <div class="space-2"></div>
                            Last Known Weight (Kilogram)
                        </div>

                        <div class="grid3 center">
                            <div class="center easy-pie-chart percentage" data-percent="80" data-color="#9585BF" style="height: 72px; width: 72px; line-height: 71px; color: rgb(149, 133, 191);">
                                <span class="percent">{{patientAccount.generalMedical.height? patientAccount.generalMedical.height:'Not Set'}}</span>
                                <canvas height="79" width="79" style="height: 72px; width: 72px;"></canvas></div>

                            <div class="space-2"></div>
                            Height(CM)
                        </div>

                    </div>
                    <div class="hr hr-16"></div>
                    <div class="clearfix">
                        <div class="grid3 center">
                            <div class="center easy-pie-chart percentage" data-percent="80" data-color="#9585BF" style="height: 72px; width: 72px; line-height: 71px; color: rgb(149, 133, 191);">
                                <span class="percent">{{patientAccount.generalMedical.bmi? patientAccount.generalMedical.bmi:0|number:2}}</span>
                                <canvas height="79" width="79" style="height: 72px; width: 72px;"></canvas></div>

                            <div class="space-2"></div>
                            Body Mass Index(BMI)
                        </div>
                    </div>

                    <div class="hr hr-16"></div>

                    <!-- #section:pages/profile.skill-progress -->
                    <!--   <div class="profile-skills">
                           <div class="progress">
                               <div class="progress-bar" style="width:80%">
                                   <span class="pull-left">HTML5 &amp; CSS3</span>
                                   <span class="pull-right">80%</span>
                               </div>
                           </div>

                           <div class="progress">
                               <div class="progress-bar progress-bar-success" style="width:72%">
                                   <span class="pull-left">Javascript &amp; jQuery</span>

                                   <span class="pull-right">72%</span>
                               </div>
                           </div>

                           <div class="progress">
                               <div class="progress-bar progress-bar-purple" style="width:70%">
                                   <span class="pull-left">PHP &amp; MySQL</span>

                                   <span class="pull-right">70%</span>
                               </div>
                           </div>

                           <div class="progress">
                               <div class="progress-bar progress-bar-warning" style="width:50%">
                                   <span class="pull-left">Wordpress</span>

                                   <span class="pull-right">50%</span>
                               </div>
                           </div>

                           <div class="progress">
                               <div class="progress-bar progress-bar-danger" style="width:38%">
                                   <span class="pull-left">Photoshop</span>

                                   <span class="pull-right">38%</span>
                               </div>
                           </div>
                       </div>-->

                    <!-- /section:pages/profile.skill-progress -->
                    <div class="col-md-12" ng-if="!patientAccount.generalMedical" style="text-align: center;">
                        <h2>No General Medical Information has been set.</h2>
                        <button class="btn btn-success btn-lg" ng-click="setGeneralMedical()">Set Patient Medical Information</button>
                    </div>
                    <div class="col-md-6" ng-if="patientAccount.generalMedical" style="text-align:left; max-height:200px; overflow-y:auto">
                            <h4 class="widget-title smaller header-color-blue2">Allergies</h4>
                        <ul>
                            <li ng-repeat="allergy in patientAccount.generalMedical.allergies">
                                <a href="" ng-click="openAllergyInformation(allergy)" >{{allergy.title}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6" ng-if="patientAccount.generalMedical" style="text-align:left; max-height:200px; overflow-y:auto ">
                            <h4 class="widget-title smaller header-color-blue2">Medical Problems</h4>
                        <ul>
                            <li ng-repeat="medicalProblem in patientAccount.generalMedical.medicalProblems "><a href="" ng-click="openMedicalProblemInformation(medicalProblem)" >{{medicalProblem.title}}</a></li>
                        </ul>

                    </div>
                    <div class="col-md-6" ng-if="patientAccount.generalMedical" style="text-align:left;">
                            <h4 class="widget-title smaller header-color-blue2">Immunizations</h4>
                        <ul>
                            <li ng-repeat="immunization in patientAccount.generalMedical.immunization "><a href="" ng-click="openMedicalProblemInformation(immunization)" >{{immunization.name}}</a></li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- /#home -->

<div id="feed" class="tab-pane">
<div class="profile-feed row">
<div class="col-sm-6">
    <div class="profile-activity clearfix">
        <div>
            <img class="pull-left" alt="Alex Doe's avatar" src="../assets/avatars/avatar5.png">
            <a class="user" href="#"> Alex Doe </a>
            changed his profile photo.
            <a href="#">Take a look</a>

            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                an hour ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <img class="pull-left" alt="Susan Smith's avatar" src="../assets/avatars/avatar1.png">
            <a class="user" href="#"> Susan Smith </a>

            is now friends with Alex Doe.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                2 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
            <a class="user" href="#"> Alex Doe </a>
            joined
            <a href="#">Country Music</a>

            group.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                5 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
            <a class="user" href="#"> Alex Doe </a>
            uploaded a new photo.
            <a href="#">Take a look</a>

            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                5 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <img class="pull-left" alt="David Palms's avatar" src="../assets/avatars/avatar4.png">
            <a class="user" href="#"> David Palms </a>

            left a comment on Alex's wall.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                8 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>
</div><!-- /.col -->

<div class="col-sm-6">
    <div class="profile-activity clearfix">
        <div>
            <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
            <a class="user" href="#"> Alex Doe </a>
            published a new blog post.
            <a href="#">Read now</a>

            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                11 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <img class="pull-left" alt="Alex Doe's avatar" src="../assets/avatars/avatar5.png">
            <a class="user" href="#"> Alex Doe </a>

            upgraded his skills.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                12 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
            <a class="user" href="#"> Alex Doe </a>

            logged in.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                12 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
            <a class="user" href="#"> Alex Doe </a>

            logged out.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                16 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>

    <div class="profile-activity clearfix">
        <div>
            <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
            <a class="user" href="#"> Alex Doe </a>

            logged in.
            <div class="time">
                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                16 hours ago
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="ace-icon fa fa-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
        </div>
    </div>
</div><!-- /.col -->
</div><!-- /.row -->

<div class="space-12"></div>

<div class="center">
    <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
        <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
        <span class="bigger-110">View more activities</span>

        <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
    </button>
</div>
</div><!-- /#feed -->

<div id="friends" class="tab-pane">
<!-- #section:pages/profile.friends -->
<div class="profile-users clearfix">
<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar4.png" alt="Bob Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-online"></span>
                    Bob Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Content Editor</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                    <span class="green"> 20 mins ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar1.png" alt="Rose Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-offline"></span>
                    Rose Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Graphic Designer</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                    <span class="grey"> 30 min ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar.png" alt="Jim Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-busy"></span>
                    Jim Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">SEO &amp; Advertising</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 red"></i>
                    <span class="grey"> 1 hour ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar5.png" alt="Alex Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-idle"></span>
                    Alex Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Marketing</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                    <span class=""> 40 minutes idle </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar2.png" alt="Phil Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-online"></span>
                    Phil Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Public Relations</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                    <span class="green"> 2 hours ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar3.png" alt="Susan Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-online"></span>
                    Susan Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">HR Management</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                    <span class="green"> 20 mins ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar1.png" alt="Jennifer Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-offline"></span>
                    Jennifer Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Graphic Designer</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                    <span class="grey"> 2 hours ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline pos-rel">
        <div class="user">
            <a href="#">
                <img src="../assets/avatars/avatar3.png" alt="Alexa Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-offline"></span>
                    Alexa Doe
                </a>
            </div>
        </div>

        <div class="popover">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Accounting</div>

                <div class="time">
                    <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                    <span class="grey"> 4 hours ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- /section:pages/profile.friends -->
<div class="hr hr10 hr-double"></div>

<ul class="pager pull-right">
    <li class="previous disabled">
        <a href="#">← Prev</a>
    </li>

    <li class="next">
        <a href="#">Next →</a>
    </li>
</ul>
</div><!-- /#friends -->

<div id="pictures" class="tab-pane">
<ul class="ace-thumbnails">
<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-1.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-2.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-3.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-4.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-5.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-6.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-1.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>

<li>
    <a href="#" data-rel="colorbox">
        <img alt="150x150" src="../assets/images/gallery/thumb-2.jpg">
        <div class="text">
            <div class="inner">Sample Caption on Hover</div>
        </div>
    </a>

    <div class="tools tools-bottom">
        <a href="#">
            <i class="ace-icon fa fa-link"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-paperclip"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-pencil"></i>
        </a>

        <a href="#">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>
</ul>
</div><!-- /#pictures -->
</div>
</div>
</div>



</div>

<!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.page-content-area -->
</div>



</div>
</div>
</div>
</div>