<div class="row" style="background-color: #FFFFFF!important;">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
           <div class="row" style="text-align: center;">
               <h3>Create Patient</h3>
           </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="PatientCreateController" style="padding: 2px;">
            <div class="row" style="margin-left: 5px;">
                <button class="btn  btn-warning" ng-click="goToPatient()">
                    <i class="fa fa-backward"></i>
                    Back to Patient Home
                </button>
            </div>
            <hr style="border-top:2px solid #000000;margin-left:0px;padding-left: 0px;margin-top: 2px;">
            <div class="row" style="margin-left: 5px;">

                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> First Name </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="newPatient.firstName" placeholder="Sule" class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">  Middle Name </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="newPatient.middleName" placeholder="Segun" class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Last Name </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="Anyanchi" ng-model="newPatient.lastName" class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Gender </label>

                            <div class="col-sm-4">
                                <select ng-model="newPatient.gender" class="form-control" id="form-field-select-1">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address 1</label>
                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" ng-model="newPatient.addressOne" placeholder="123 Asaba Street" class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address 2</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="newPatient.addressTwo" id="form-field-1" placeholder="Suite 10" class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Local Government</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="newPatient.addressLocalGovernment" id="form-field-1" placeholder="123 Asaba Street" class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="newPatient.addressState"id="form-field-1" placeholder="123 Asaba Street" class="col-sm-12">
                            </div>
                        </div>
                       <!-- <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Blood Genotype </label>
                            <div class="col-sm-4">
                                <select ng-model="newpatient.bloodGenotype" class="form-control" id="form-field-select-1">
                                    <option value="AA">Type AA</option>
                                    <option value="AS">Type AS</option>
                                    <option value="SS">Type SS</option>
                                </select>
                            </div>
                        </div>  -->
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Date of Birth</label>
                            <div class="col-sm-9" >
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="displayDOB" ng-click="chooseDate(false)" style="background-color: white!important;" readonly required>
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="chooseDate(false)" type="button">Select Date</button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <!-- /section:elements.form -->
                        <div class="space-4"></div>
                        <h3>Contact Information</h3>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Phone Number</label>
                            <div class="col-sm-9" >
                                    <input type="text" id="form-field-1" ng-model="newPatient.contactPhoneOne" placeholder="Landline or Cell Phone" class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Alternate Number</label>
                            <div class="col-sm-9" >
                                    <input type="text" id="form-field-1" ng-model="newPatient.contactPhoneTwo" placeholder="Landline or Cell Phone" class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-9" >
                                    <input type="email" id="form-field-1" ng-model="newPatient.contactEmailAddress" placeholder="Landline or Cell Phone" class="col-sm-12" >
                            </div>
                        </div>
                        <h3>Emergency Contact (Next of Kin)</h3>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newPatient.emergencyContactName"  class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Relationship to you</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newPatient.emergencyContactRelationship" class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Phone Number</label>
                            <div class="col-sm-9" >
                                <input type="text" id="form-field-1" ng-model="newPatient.emergencyContactPhone"  class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-9" >
                                <input type="email" id="form-field-1" ng-model="newPatient.emergencyContactEmailAddress"   class="col-sm-12" >
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" ng-click="createPatientAccount()">Create Account</button>
                        </div>


                    <!-- /.row -->
                    </form>
                </div>


                <!---Picture stuff starts here-->

                <div class="col-md-4" style="text-align: center;">
                    <div style="border:2px solid #FF6E00 ;text-align: center"  class="col-md-6 col-md-offset-3" ng-if="newPatient.picture">
                        <img ng-if="newPatient.picture" ng-src="{{newPatient.picture}}" alt="webcam picture">
                    </div>
                    <ng-camera
                            capture-message="Stay Still!!"
                            countdown="3"
                            output-height="160"
                            output-width="213"
                            viewer-height="320"
                            viewer-width="426"
                            crop-height="90"
                            crop-width="120"
                            image-format="jpeg"
                            jpeg-quality="100"
                            action-message="Take Picture"
                            snapshot="newPatient.picture"
                            flash-fallback-url="vendor/webcam.swf"
                            ></ng-camera>
                </div>

            </div>
        </div>
    </div>
</div>