<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Patient->Encounters</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="PatientEncounterHistoryController" style="padding: 2px;">
            <div class="row" style="margin-left: 5px;">





            </div>

        </div>
    </div>
</div>