<div class="row" style="background-color: #FFFFFF!important;">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;padding-left: 25px;">
                <h3>Patient Encounter</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="SingleEncounterController" style="padding: 2px;">
            <div class="row" style="margin-left: 5px;">
                <button class="btn  btn-warning" ng-click="goToEncounters()">
                    <i class="fa fa-backward"></i>
                    Hospital Encounters
                </button>
            </div>
            <hr style="border-top:2px solid #000000;margin-left:0px;padding-left: 0px;margin-top: 2px;">
            <div class="row" style="margin-left: 5px;">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h3>{{encounter.patient.firstName}} {{encounter.patient.lastName}} to be seen by <span style="color: #ff0000"> DR. {{encounter.doctor.firstName}} {{encounter.doctor.lastName}}</span></h3>
                    </div>
                </div>

                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->
                        <div ng-switch="encounterDataView">
                        <div ng-switch-default>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Height(CM)</label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.height" ng-change="calculateBmi()"  class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Weight(KG)</label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.weight" ng-change="calculateBmi()"  class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Body Mass Index</label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.bmi | number:2"  class="col-sm-12" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label "eeee for="form-field-1">Temp</label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.temp"  class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Blood Pressure</label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.bloodPressure"  class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">RR</label>
                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.RR"  class="col-sm-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Heart Rate</label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" ng-model="encounter.heartRate"  class="col-sm-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1"> Consultation Brief Description </label>
                            <div class="col-sm-8">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.chiefComplaint" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px;" ></textarea>
                            </div>
                        </div>
                        </div>
                        <div ng-switch-when="historialData">
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Sexual History</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.sexualHistory" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Family History</label>
                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.familyHistory" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Mental Status</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.mentalStatusExam" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label " for="form-field-1">History of Illness</label>

                                <div class="col-sm-5">
                                    <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.historyOfPresentIllness" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label " for="form-field-1">Medications Taken</label>

                                <div class="col-sm-5">
                                    <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.historyOfPresentIllness" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="observationData">

                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Skin Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationSkin" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Head Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationHead" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Eye Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationEyes" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Ears Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationEars" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Nose Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationNose" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Mouth Observation</label>
                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationMouth" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Mouth Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationMouth" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Throat Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationThroat" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Neck Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationNeck" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Chest Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationChest" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Heart Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationHeart" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Breast Observation</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.observationBreast" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Respiratory</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.respiratory" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Cardiovascular</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.cardiovascular" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Gastrointestinal</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.Gastointestinal" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Urinary</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.urinary" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Genital</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.genital" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Genital</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.genital" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Menstrual</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.menstural" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Neurological</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.neurological" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Gait</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.gait" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Geriatric Assessment</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.geriatricAssessment"  ></textarea>
                            </div>
                        </div>
                        </div>
                        <div ng-switch-when="notes">
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="form-field-1">Doctors Note</label>

                            <div class="col-sm-5">
                                <textarea id="form-field-11" class="autosize-transition form-control" ng-model="encounter.doctorNotes"  ></textarea>

                            </div>
                        </div>
                        <h3>Add Custom Fields</h3>
                          <div class="col-md-12">
                              <button class="btn btn-success" ng-click="createCustomNote()">Add Custom Note</button>
                              <div class="form-group" ng-repeat="customNote in encounter.customNotes">
                                  <label class="col-sm-2 control-label " for="form-field-1">{{customNote.label}}</label>
                                  <div class="col-sm-5">
                                      <textarea id="form-field-11" class="autosize-transition form-control" ng-model="customNote.text"></textarea>
                                  </div>
                                  <div class="col-md-1">
                                      <button type="button" class="btn btn-danger" ng-click="deleteCustomNote($index)">Remove</button>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <!-- /.row -->
                        </div>

                    <div class="col-md-12" style="margin-top: 30px;">
                        <div class="form-group">
                            <button class="btn btn-success pull-right" ng-click="updateEncounter()">Update Encounter</button>
                        </div>
                    </div>
                    </form>
                </div>
                <!---Picture stuff starts here-->
                <div class="col-md-4" style="text-align: center;">
                    <div class="col-md-12" ng-if="encounter.patient.picture">
                        <img ng-if="encounter.patient.picture" ng-src="{{encounter.patient.picture}}" alt="patient picture">
                    </div>

                    <div class="col-md-12">
                        <h4>Views</h4>
                        <div class="list-group">
                            <a href="" ng-click="changeEncounterView('basic')" ng-class="{active: encounterDataView == 'basic'}" class="list-group-item padding">Basic</a>
                            <a href="" ng-click="changeEncounterView('historialData')" ng-class="{active: encounterDataView == 'historialData'}"  class="list-group-item padding">History Notes</a>
                            <a href="" ng-click="changeEncounterView('observationData')" ng-class="{active: encounterDataView == 'observationData'}" class="list-group-item padding">Observations</a>
                            <a href="" ng-click="changeEncounterView('notes')" ng-class="{active: encounterDataView == 'notes'}" class="list-group-item padding">Other Notes</a>
                        </div>
                    </div>
                    <h4>Actions</h4>
                    <div class="col-md-12" style="margin-top: 10px;">
                        <button type="button" class="btn btn-success btn-block"><i class="fa fa-flask"></i> Order Lab</button>
                        <button type="button" class="btn btn-warning btn-block" ng-click="openNewPrescriptionModal()"> <i class="fa fa-user-md"></i> Prescribe/View Medications</button>
                        <a href="#/patients/{{encounter.patient.id}}"><button type="button" class="btn btn-info btn-block"><i class="fa fa-user"></i> View Patient Profile</button></a>
                        <button type="button" class="btn btn-block btn-danger" ng-click="finishAndSaveEncounter()"><i class="fa fa-floppy-o"></i> Finish and Save Encounter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>