<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Patients</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="PatientController" style="padding: 2px;">
           <div class="row" style="margin-left: 5px;">
               <button class="btn  btn-success" ng-click="goToCreatePatient()">
                   <i class="fa fa-plus"></i>
                   Register New Patient
               </button>
           </div>
            <hr style="border-top:2px solid #000000;margin-left:0px;padding-left: 0px;margin-top: 2px;">
            <div class="row" style="text-align: center;margin-top: 5px;">
                <h2>Search Patient Record</h2>
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" ng-model="searchData.param" placeholder="First Name or Last Name or Medirec ID">
                    <button type="button" ng-click="searchPatient()" class="btn btn-info"><i class="fa fa-search" ></i>Search</button>
                    <button type="button" class="btn btn-info"  ng-click="getAllPatients()"><i class="fa fa-search"></i>Show All Patients</button>
                </div>
            </div>
            <div class="row" style="margin-top: 15px; padding: 5px;" >
            <div class="col-md-12">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label class="position-relative">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th class="hidden-480">Gender</th>

                <th>
                    Age
                </th>
                <th class="hidden-480">Medirec Identity</th>

                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="patient in patients">
                <td class="center">
                    <label class="position-relative">
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </td>

                <td>
                    <a href="#/patients/{{patient.id}}">{{patient.firstName}}</a>
                </td>
                <td><a href="#/patients/{{patient.id}}">{{patient.lastName}}</a></td>
                <td class="hidden-480">{{patient.gender}}</td>
                <td>{{getAge(patient.dob)}} Year(s) Old</td>

                <td class="hidden-480">
                    {{patient.officialId}}
                </td>

                <td>
                    <div class="hidden-sm hidden-xs btn-group">
                        <button class="btn btn-xs btn-success">
                            <i class="ace-icon fa fa-check bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-info">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-danger">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-warning">
                            <i class="ace-icon fa fa-flag bigger-120"></i>
                        </button>
                    </div>

                    <div class="hidden-md hidden-lg">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>


            </tbody>
            </table>
            </div>
            </div>

        </div>
    </div>
</div>