<div class="row">
    <div class="col-md-12" ng-include="'views/banner-top.html'"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="text-align: center;">
                <h3>Pharmacy</h3>
            </div>
            <div ng-include="'views/side-menu.html'"></div>
        </div>
        <div class="col-md-9" ng-controller="PharmacyController" style="padding-right: 10px;">
            <div class="col-md-12" style="padding-top: 5px; padding-bottom: 5px;">
                <button class="btn btn-success" ng-click="launchCreateDrugModal()">
                    Add Drug
                </button>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="Search Drug...">
                </div>
            </div>
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-480">Act</th>
                    <th class="hidden-480">NAFDAC</th>
                    <th>Form</th>
                    <th>Size</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="drug in drugs|filter:searchText">
                    <td>
                        <a href="" ng-click="showDrugInformation(drug)">{{drug.name}}</a>
                    </td>
                    <td>{{drug.active? 'Yes':'No'}}</td>
                    <td class="hidden-480">{{drug.nafdacNumber}}</td>
                    <td>
                        {{drug.form}}
                    </td>
                    <td>
                        {{drug.pillSize}}
                    </td>
                    <td>
                        {{drug.unit}}
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>