<div id="sidebar" ng-controller="SideMenuController" class="sidebar responsive" style="background-color: #FFFFFF;margin-left: 25px;width: 92%">
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>


<div class="sidebar-shortcuts" id="sidebar-shortcuts">

        <button class="btn btn-danger btn-block" ng-click="goToHospitalSetting()">
            <i class="ace-icon fa fa-cogs"></i>
            Hospital Settings
        </button>

        <!-- /section:basics/sidebar.layout.shortcuts -->


</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
<li class="active">
    <a href="" ng-click="goToHome()">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> Dashboard </span>
    </a>

    <b class="arrow"></b>
</li>

<li class="hsub">
    <a href="" ng-click="goToPatient()">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text"> Patient Records</span>
    </a>
</li>

<li class="hsub">
    <a href="" class="dropdown-toggle" ng-click="goToOfficial()">
        <i class="menu-icon fa fa-user-md"></i>
        <span class="menu-text"> Officials </span>

    </a>

</li>
<li class="">
    <a href="" ng-click="goToEncounters()">
        <i class="menu-icon fa fa-heart"></i>
        <span class="menu-text"> Patient Encounters </span>
    </a>

</li>

<li class="hsub">
    <a href="" class="dropdown-toggle" ng-click="goToMessages()">
        <i class="menu-icon fa fa-envelope"></i>
        <span class="menu-text"> Messages </span>

    </a>


</li>

<li class="">
    <a href="" ng-click="goToPharmacy()">
        <i class="menu-icon fa fa-medkit"></i>
        <span class="menu-text"> Inventory </span>
    </a>

</li>

<li class="">
    <a href="" ng-click="goToAppointments()">
        <i class="menu-icon fa fa-calendar"></i>
							<span class="menu-text">
								Calendar
							</span>
    </a>
    <b class="arrow"></b>
</li>
<li class="">
    <a href="" ng-click="goToDataManagement()">
        <i class="menu-icon fa fa-database"></i>
							<span class="menu-text">
								Data Backup/Recovery
							</span>
    </a>
    <b class="arrow"></b>
</li>



<li class="hsub">
    <a href="#/billing" class="dropdown-toggle">
        <i class="menu-icon fa fa-money"></i>
        <span class="menu-text"> Billing </span>

    </a>
</li>
 <li class="hsub">
    <a href="#/import-data" class="dropdown-toggle">
        <i class="menu-icon fa fa-upload"></i>
        <span class="menu-text"> Import Data </span>

    </a>
</li>



</ul><!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->


<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>
</div>