<!-- #section:basics/navbar.layout -->


<!-- /section:basics/navbar.dropdown -->
</div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<!-- #section:basics/sidebar -->


<!-- /section:basics/sidebar -->
<div class="main-content">
<!-- #section:basics/content.breadcrumbs -->


<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
<!-- #section:settings.box -->


<!-- /section:settings.box -->
<div class="page-content-area">
<div class="page-header">
    <h1>
        Inbox
    </h1>
</div>

<div class="row">
<div class="col-xs-12">
<div class="row">
<div class="col-xs-12">
<div class="tabbable">
<ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
    <li class="li-new-mail pull-right">
        <a data-toggle="tab" href="" data-target="write" class="btn-new-mail" ng-click="openNewMailModal()">
														<span class="btn btn-purple no-border">
															<i class="ace-icon fa fa-envelope bigger-130"></i>
															<span class="bigger-110">Write Mail</span>
														</span>
        </a>
    </li><!-- /.li-new-mail -->
    <!-- /section:pages/inbox.compose-btn -->
    <li class="active">
        <a data-toggle="tab" href="" data-target="inbox">
            <i class="blue ace-icon fa fa-inbox bigger-130"></i>
            <span class="bigger-110">Inbox</span>
        </a>
    </li>

    <li ng-hide="true">
        <a data-toggle="tab" href="" data-target="sent">
            <i class="orange ace-icon fa fa-location-arrow bigger-130"></i>
            <span class="bigger-110">Sent</span>
        </a>
    </li>
</ul>

<div class="tab-content no-border no-padding">
<div id="inbox" class="tab-pane in active">
<div class="message-container">
<!-- #section:pages/inbox.navbar -->
<div id="id-message-list-navbar" class="message-navbar clearfix">
    <div class="message-bar">
        <div class="message-infobar" id="id-message-infobar">
            <span class="blue bigger-150">Inbox</span>
        </div>

    </div>

</div>




<!-- /section:pages/inbox.navbar -->
<div class="message-list-container">
<!-- #section:pages/inbox.message-list -->
<div class="message-list" id="message-list">
<!-- #section:pages/inbox.message-list.item -->
<div ng-class="{true: '', false: 'message-item message-unread'}[message.isRead]" class="message-item" ng-repeat="message in inboxItems | orderBy: '-createdAt'">
    <label class="inline">
        <input type="checkbox" class="ace" />
        <span class="lbl"></span>
    </label>
    <span class="sender" title="Alex John Red Smith">{{message.message.doctor.firstName}} {{message.message.doctor.lastName}}</span>
    <span class="time">{{message.createdAt|date:'medium'}}</span>
    <span class="summary" ng-click="openMessageDetails(message)">
        <span class="text">
            {{message.message.subject}}
        </span>
    </span>
</div>


<!-- /section:pages/inbox.message-list.item -->
</div>

<!-- /section:pages/inbox.message-list -->
</div>

<!-- #section:pages/inbox.message-footer -->
<div class="message-footer clearfix">
    <div class="pull-left"> {{inboxItems.length}} message(s) total </div>

    <div class="pull-right">
        <div class="inline middle"> page 1 of 16 </div>

        &nbsp; &nbsp;
        <ul class="pagination middle">
            <li class="disabled">
																		<span>
																			<i class="ace-icon fa fa-step-backward middle"></i>
																		</span>
            </li>

            <li class="disabled">
																		<span>
																			<i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
																		</span>
            </li>

            <li>
																		<span>
																			<input value="1" maxlength="3" type="text" />
																		</span>
            </li>

            <li>
                <a href="#">
                    <i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="ace-icon fa fa-step-forward middle"></i>
                </a>
            </li>
        </ul>
    </div>
</div>


<!-- /section:pages/inbox.message-footer -->
</div>
</div>
</div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<!-- /section:pages/inbox -->
</div><!-- /.col -->
</div><!-- /.row -->




<!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.page-content-area -->
</div><!-- /.page-content -->
</div><!-- /.main-content -->



<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='../../assets/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->



<!-- inline scripts related to this page -->

